<%- include("partials/_header.ejs") %>
<main>
    <div class="setPasswordWrapper">
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
        <form action="/setpassword/<%= token %>" method="post">
            <input type="password" name="password" id="passwordInput" placeholder="Nytt lösenord" />
            <input type="password" name="passwordConfirm" id="confirmInput" placeholder="Bekräfta nytt lösenord" />
            <input type="email" name="email" value="<%= email %>" hidden />
            <input type="text" name="name" value="<%= name %>" hidden />
            <div>
                <button type="submit">Spara</button>
                <a href="/">Tillbaka</a>
            </div>
        </form>
    </div>
</main>
  <%- include("partials/_footer.ejs") %>